<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

<h2>Bài viết hôm nay</h2>
<hr>
<div *ngFor="let art of articles">
  <a href="{{art.url}}" target="_blank">{{art.title}}</a>: <app-like></app-like>
</div>
<hr>
<div>
  <h2>Thêm bài viết mới</h2>
  <table>
    <tr>
      <td>Tiêu đề:</td>
      <td><textarea [(ngModel)]="article.title" cols="70"></textarea></td>
    </tr>
    <tr>
      <td>Đường dẫn:</td>
      <td>
        <textarea [(ngModel)]="article.url" cols="70"></textarea>
      </td>
    </tr>
    <tr>
      <td></td>
      <td><button style="float: right" (click)="addNewArticle()">Thêm vào</button></td>
    </tr>
  </table>
</div>

